$white: #fff; // header text color
$darkGrey: #343a40; // navigation color
$lightGrey: rgba(255,255,255,.5); // nav links color
// makes the animations move when page scrolls. 
// Scroll animation code from https://css-tricks.com/books/greatest-css-tricks/scroll-animation/
$scrollAnimation: calc(var(--scroll) * -1s);

// page header
// Image credit: https://upload.wikimedia.org/wikipedia/commons/3/33/Mobile_Phones_Wikivoyage_banner.jpg
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://upload.wikimedia.org/wikipedia/commons/3/33/Mobile_Phones_Wikivoyage_banner.jpg');
  background-size: 100%;
  background-position: bottom;
  color: rgb(171, 169, 169);
  padding: 10px;
  margin-bottom: 10px;

  & h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  // animated header text
  & p {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    animation: slideIn 1s ease-out 0s 1;
  }
}

// Controls the color of the links on the page
// Makes the "home" button color white so user's can see it's the page they're currently on
// Makes the link white on hover
@mixin linkColor($color: #fff) {
  & a:hover {
    color: $color;
  }
  & .active {
    color: $color;
  }
}

// navigation bar
nav {
  @include linkColor;
  background-color: $darkGrey;

  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
  }

  // styles navigation text in navbar
  & a {
    text-decoration: none;
    color: $lightGrey;
    font-weight: 900;
  }
}

main {
  margin: 20px;
}

// index page css
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.gadgets360cdn.com/large/Best_phones_2018_cover_ndtv_1545054680573.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
}

// scroll animation below source: https://css-tricks.com/books/greatest-css-tricks/scroll-animation/ 
#hero-1 {
  left: 50%;
  top: 40%;

  & h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #ffce00;
    animation: enlarge 0.5s ease-in 0s;
    animation-play-state: paused;
    animation-delay: $scrollAnimation;
  }
}

#hero-2 {
  left: 25%;
  top: 65%;
  font-style: italic;
  animation: slideIn 0.5s ease-out 0s 1;
  animation-play-state: paused;
  animation-delay: $scrollAnimation;
  animation-fill-mode: both;
}

// Makes the hero text smaller on smaller screens
@media screen and (max-width: 640px) {
  #hero-1 h1 {
    font-size: 4rem;
  }
}

// Makes the header text slide in from the left on page load.
// Source: https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load
@keyframes slideIn {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

// Makes the title get bigger as the page scrolls
@keyframes enlarge {
  100% {
    font-size: 6rem;
  }
}

// Phone company links on home page
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  & img {
    margin: 20px;
    height: 76.8px;
    min-width: 72px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    transition: transform 0.7s;
  }

  & img:hover {
    transform: scale(1.4); // makes the links become larger when hovered over
  }
}

.home-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
// end of index page css

// Featured latest phones page css
// centers the company images and makes images a bit smaller on computer screen
.company-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // @media screen and (min-width: 768px) {
  //   width: 70%;
  // }
  @include media-query(tab) {
    width: 70%;
  }
  // border: 5px solid red;
}

.card {
  margin-bottom: 2rem;
}

// centers the bullet points in the Bootstrap card
.card-body {
  & ul {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  & ul li {
    text-align: left;
  }
}

.img-border {
  border: 5px solid purple;
}
// End of featured latest phones page css

// grid page css
.img {
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.carousel {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  // @media screen and (min-width: 920px) {
  //   height: 430px;
  // }
  @include media-query(lg) { // makes it so carousel height doesn't move around when pressing the controls
    height: 430px;
  }

  & p {
    margin-bottom: 8px;
  }
}

h2, h5 {
  font-weight: bold;
}

h4 {
  font-weight: 600;
  // font-size: 18px;
}

.prices {
  padding: 10px;
}

.phone-specs {
  padding: 10px;
  text-align: left;
  margin: 10px 90px;
  & .info-title {
    font-weight: bold;
  }
}

.carousel-caption {
  position: static;
  color: #000;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

#galaxy-s22-ultra {
  background-image: linear-gradient(315deg, #bdcad9 0%, #fff 74%);
}

#galaxy-s22-plus {
  background-image: linear-gradient(315deg, #E1F5E0 0%, #fff 74%);
}
// end of grid page css

.accordion {
  text-align: left;
  padding: 20px;
}
