$white: #fff; // header text color
$darkGrey: #343a40; // navigation color
$lightGrey: rgba(255,255,255,.5); // nav links color
// makes the animations move when page scrolls. 
// Scroll animation code from https://css-tricks.com/books/greatest-css-tricks/scroll-animation/
$scrollAnimation: calc(var(--scroll) * -1s);

// page header on every page but Home page
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://live.staticflickr.com/4014/4648945403_1e4f51e6d3_b.jpg');
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: rgb(171, 169, 169);
  padding: 10px;
  margin-bottom: 10px;

  & h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  // animated header text
  & p {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    animation: slideIn 1s ease-out 0s 1;
  }
}

// Controls the color of the links on the page
// Makes the "home" button color white so user's can see it's the page they're currently on
// Makes the link white on hover
@mixin linkColor($color: #fff) {
  & a:hover {
    color: $color;
  }
  & .active {
    color: $color;
  }
}

// navigation bar
nav {
  @include linkColor;
  background-color: $darkGrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  background-color: #343a40; /* Navigation color */

  // styles navigation text in navbar
  & a {
    text-decoration: none;
    color: $lightGrey;
    font-weight: 900;
  }

  & a.nuxt-link-exact-active {
    color: #fff;
  }
}

main {
  margin: 20px;
}

// index page css
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/c/cc/B.B._King_3011710058.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
}

// scroll animation below source: https://css-tricks.com/books/greatest-css-tricks/scroll-animation/ 
#hero-1 {
  left: 50%;
  top: 40%;

  & h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #ffce00;
    animation: enlarge 1s ease-in;
    animation-play-state: paused;
    animation-delay: $scrollAnimation;
    animation-fill-mode: forwards;
  }
}

#hero-2 {
  left: 30%;
  top: 65%;
  font-style: italic;
  animation: slideIn 0.5s ease-out 0s 1;
  animation-play-state: paused;
  animation-delay: $scrollAnimation;
  animation-fill-mode: both;
}

// Makes the hero text smaller on smaller screens
@media screen and (max-width: 640px) {
  #hero-1 h1 {
    font-size: 4rem;
  }
}

// Makes the header text slide in from the left on page load.
// Source: https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load
@keyframes slideIn {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

// Makes the title get bigger as the page scrolls
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

// Music streaming sites links on home page
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  & img {
    margin: 20px;
    height: 76.8px;
    min-width: 72px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    transition: transform 0.7s;
  }

  & img:hover {
    transform: scale(1.4); // makes the links become larger when hovered over
  }
}

.home-content {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;
  text-align: center;

  & p span {
    font-style: italic;
  }
}

.citation {
  color: rgb(116, 115, 115);
  margin-bottom: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
// end of index page css

// Genres page css
// centers the images and makes images a bit smaller on computer screens
.genre-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  object-fit: cover;

  @include media-query(tab) {
    width: 80%;
  }
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  font-weight: bold;
}

.card-text {
  padding: 0 40px;
  text-align: left;
}
// End of Genres page css

// pages with grids css
.img-container {
  display: flex;
  align-items: center;
}

.img {
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.carousel {
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;

  @include media-query(lg) { // makes it so carousel height doesn't move around when pressing the controls
    height: 440px;
  }

  & p {
    margin-bottom: 8px;
  }
}

h2, h3 {
  font-weight: bold;
}

h4, h5 {
  font-weight: 600;
}

.carousel-item {
  & h3 {
    font-size: 1.2rem;
  }

  & h5 {
    font-size: 1rem;
  }

  & p {
    margin: 0 30px;
  }

  & a {
    margin: 30px;
  }
  
  .btn {
    background-color: #1DB954;
    color: #191414;
    font-weight: 600;
  }
}

.carousel-caption {
  position: static;
  color: #000;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.accordion {
  text-align: left;
  padding: 20px;
}
// end of pages with grids css
